* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//container
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//blacknav
header {
  display: flex;
  flex-direction: column;
  .blacknav {
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;

    .branding {
      display: flex;
      align-items: center;
      flex: 20%;
      a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        letter-spacing: 3px;
      }
    }
    .restbranding {
      display: flex;
      align-items: center;
      flex: 80%;
      justify-content: space-between;

      .contact {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        .text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
        .info {
          display: flex;
          flex-direction: row;
          .mail,
          .num {
            justify-content: center;
            display: flex;
            align-items: flex-start;
            width: 50%;
            a {
              font-weight: 200;
            }
          }
        }
      }
      .social {
        display: flex;
        width: 150px;
        .social-set {
          display: flex;
          flex-direction: row;
          list-style-type: none;
          justify-content: space-around;
          width: 100%;
          margin: 0;
          padding: 0;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .devis {
        background-color: #df6823;
        display: flex;
        transform: skew(0deg, -3deg);
        border-radius: 3px;
        .devisIcon {
          height: 40px;
          width: auto;
          i {
            width: 100%;
            height: 100%;
            margin: 15px 10px 15px 10px;
          }
        }
        .textDevis {
          p {
            margin-top: 10px;
            padding: 5px;
            font-weight: bold;
          }
        }
      }
    }
  }

  //finblacknav

  //menu header
  .menu_nav {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    .divider {
      border-left: 1px solid grey;
      box-shadow: 0 0 1px grey;
    }
    ul {
      display: flex;
      width: 70%;
      margin-top: 15px;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        list-style-type: none;
        a {
          text-decoration: none;
          color: black;
        }
        i {
          color: #df6823;
          height: 30px;
          width: 30px;
          margin: 0;
        }
      }
    }
  }
  //fin menu header
}

//main content
.main {
  display: flex;
  flex-direction: column;
  img {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
  }
  .slider,
  .view {
    height: 350px;
    margin-bottom: 3%;
    img {
      height: 350px;
      widows: 350px;
    }
  }
}
.wrapperCat {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  .categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    justify-content: flex-start;
    .category {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .catIcon {
        display: flex;
        width: 140px;
        height: 100%;
        .material-icons {
          font-size: 70px;
          padding-top: 40px;
          margin: 20px;
        }
      }
      .infoCat {
        .titreCat {
          color: orangered;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 3px;
        }
      }
    }
  }
}
.wrapperMosaic {
  display: flex;
  width: 100%;
  justify-content: center;
  .sliderResponsive {
    display: none;
  }
  .titreMain {
    text-align: center;
    h3 {
      padding: 1em 0;
      text-align: center;
      overflow: hidden;
    }
    h3:before,
    h3:after {
      content: "";
      width: 100%;
      border-bottom: 1px black solid;
      display: inline-block;
      vertical-align: middle;
    }
    h3:before {
      margin-left: -100%;
      margin-right: 3em;
    }
    h3:after {
      margin-right: -100%;
      margin-left: 3em;
    }
  }
  .mosaic {
    display: flex;
    width: 70%;
    flex-direction: column;
    .contentMosaic {
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 600px;
      justify-content: space-between;
      .clothing {
        display: flex;
        width: 29%;
        flex-direction: column;
        .imgclothing img {
          margin: 0;
          height: 570px;
        }
        .titreclothing {
          display: flex;
          height: 30px;
          background-color: black;
          justify-content: center;
          h3 {
            color: white;
          }
        }
      }
      .accessories {
        width: 69%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        .luggage {
          display: flex;
          flex-direction: column;
          height: 295px;
          .imgSac img {
            margin: 0;
            height: 265px;
          }
          .titreSac {
            display: flex;
            height: 30px;
            background-color: black;
            justify-content: center;
            h3 {
              color: white;
            }
          }
        }
        .restAccessories {
          display: flex;
          flex-direction: row;
          height: 295px;
          justify-content: space-between;
          flex-wrap: wrap;
          .rA {
            display: flex;
            flex-direction: column;
            width: 49%;
            flex-wrap: wrap;

            .imgRa img {
              margin: 0;
              height: 265px;
            }
            .titreRa {
              display: flex;
              height: 30px;
              background-color: black;
              justify-content: center;
              h3 {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
//video
.video {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 6% 0 5% 0;
  .sideVideo {
    background-color: black;
    color: white;
    width: 30%;
    padding: 2%;
  }
  .mainVideo {
    width: 70%;
    display: flex;
    .videoPlay {
      margin: 0;
      width: 100%;
    }
  }
}
//actualités
.wrapperActus {
  display: flex;
  width: 100%;
  justify-content: center;
  .actus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    .presActu {
      display: flex;
      flex-direction: column;
      .titrePresActu {
        display: flex;
        flex-direction: row;
      }
      .infoPresActu {
        display: flex;
        justify-content: space-between;
        .socialActu {
          display: flex;
          width: 100px;
          .socialSetActu {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: space-around;
            width: 100%;
            margin: 0;
            padding: 0;
            li {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50%;
            }
          }
        }
      }
    }
    .mainActu {
      display: flex;
      width: 100%;
      margin: 2% 0 2% 0;
      flex-wrap: wrap;
      justify-content: space-between;
      .contentActu {
        display: flex;
        width: 23%;
        justify-content: center;
        &:hover {
          .overlay {
            background-color: #3a579d;
            display: block;
            width: 244px;
            height: 244px;
            position: absolute;
          }
          .textActu {
            display: block;
            color: white;
            padding: 2%;
            margin: auto;
            text-align: center;
            max-width: 305px;
          }
        }
        .textActu {
          display: none;
          position: absolute;
          margin-left: auto;
          margin-right: auto;
        }
        .imgActu img {
          position: relative;
          z-index: 0;
        }
      }
    }
  }
}

//footer
.wrapperFooter {
  display: flex;
  background-color: black;
  color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3%;
  .coordonnees > p {
    color: grey;
  }
  .titreFooter {
    margin: 30px 0px 20px 0px;
    h3{
      font-size: 14px;
    }
  }
  .categoriesFooter {
    list-style-type: none;
    li {
      line-height: 36px;
      a {
        text-decoration: none;
        color: grey;
      }
    }
  }
  .ddeInfos > p {
    color: grey;
  }
  .socialSetFooter {
    .socialFooter {
      display: flex;
      .social-set {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.copyright {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: grey;
  justify-content: flex-start;
  hr {
    display: block;
    height: 2px;
    color: white;
  }
  p {
    margin-left: 6%;
  }
}

@media (max-width: 376px) {
  .restbranding {
    flex-direction: column;
  }
  .wrapperCat {
    margin: 5% 0% 5% 0%;
    .categories {
      flex-wrap: wrap;
      margin-right: 80px;
    }
  }
  .wrapperMosaic {
    .mosaic {
      .contentMosaic {
        display: none;
      }
      .sliderResponsive {
        display: block;
      }
    }
  }
  .divider {
    display: none;
  }
  .contact,
  .social {
    margin: 20px;
  }

  .devis {
    border-radius: 3px;
    border: 1px solid orangered;
    background-color: black !important;
    margin-top: 15px;
    i {
      margin-top: 10px;
    }
    .textDevis {
      p {
        margin-top: 10px;
      }
    }
  }

  .menu_nav li {
    min-width: 190px;
    margin: 5%;
  }
  .accessories .restAccessories {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .video {
    flex-direction: column;
    margin: 25% 0% 20% 0%;
    .sideVideo,
    .mainVideo {
      width: 100%;
    }
    .sideVideo {
      padding: 5%;
    }
  }

  .mainActu {
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    .contentActu {
      width: 100% !important;
      height: auto;
      &:hover {
        .overlay {
          width: 260px !important;
          height: 260px !important;
        }
      }
      .imgActu {
        opacity: 0.5;
        .textActu {
          display: block;
          //max-width: 262px !important;
          //width: 202px;
          //height: auto;
          //margin: auto;
        }
      }
      .presActu {
        margin-bottom: 15%;
      }
    }
  }
  #textResponsive {
    padding: 9% !important;
  }

  .wrapperFooter{
   .socialSetFooter{
    padding-bottom: 10%;
   }
  }
}
