* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .blacknav {
  background-color: black;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .blacknav .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

header .blacknav .branding a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 3px;
}

header .blacknav .restbranding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .blacknav .restbranding .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

header .blacknav .restbranding .contact .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

header .blacknav .restbranding .contact .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .blacknav .restbranding .contact .info .mail,
header .blacknav .restbranding .contact .info .num {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

header .blacknav .restbranding .contact .info .mail a,
header .blacknav .restbranding .contact .info .num a {
  font-weight: 200;
}

header .blacknav .restbranding .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

header .blacknav .restbranding .social .social-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

header .blacknav .restbranding .social .social-set li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .blacknav .restbranding .devis {
  background-color: #df6823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: skew(0deg, -3deg);
          transform: skew(0deg, -3deg);
  border-radius: 3px;
}

header .blacknav .restbranding .devis .devisIcon {
  height: 40px;
  width: auto;
}

header .blacknav .restbranding .devis .devisIcon i {
  width: 100%;
  height: 100%;
  margin: 15px 10px 15px 10px;
}

header .blacknav .restbranding .devis .textDevis p {
  margin-top: 10px;
  padding: 5px;
  font-weight: bold;
}

header .menu_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

header .menu_nav .divider {
  border-left: 1px solid grey;
  -webkit-box-shadow: 0 0 1px grey;
          box-shadow: 0 0 1px grey;
}

header .menu_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .menu_nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header .menu_nav ul li a {
  text-decoration: none;
  color: black;
}

header .menu_nav ul li i {
  color: #df6823;
  height: 30px;
  width: 30px;
  margin: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main img {
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 5%;
}

.main .slider,
.main .view {
  height: 350px;
  margin-bottom: 3%;
}

.main .slider img,
.main .view img {
  height: 350px;
  widows: 350px;
}

.wrapperCat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.wrapperCat .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrapperCat .categories .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapperCat .categories .category .catIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  height: 100%;
}

.wrapperCat .categories .category .catIcon .material-icons {
  font-size: 70px;
  padding-top: 40px;
  margin: 20px;
}

.wrapperCat .categories .category .infoCat .titreCat {
  color: orangered;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

.wrapperMosaic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapperMosaic .sliderResponsive {
  display: none;
}

.wrapperMosaic .titreMain {
  text-align: center;
}

.wrapperMosaic .titreMain h3 {
  padding: 1em 0;
  text-align: center;
  overflow: hidden;
}

.wrapperMosaic .titreMain h3:before,
.wrapperMosaic .titreMain h3:after {
  content: "";
  width: 100%;
  border-bottom: 1px black solid;
  display: inline-block;
  vertical-align: middle;
}

.wrapperMosaic .titreMain h3:before {
  margin-left: -100%;
  margin-right: 3em;
}

.wrapperMosaic .titreMain h3:after {
  margin-right: -100%;
  margin-left: 3em;
}

.wrapperMosaic .mosaic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapperMosaic .mosaic .contentMosaic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 600px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapperMosaic .mosaic .contentMosaic .clothing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 29%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapperMosaic .mosaic .contentMosaic .clothing .imgclothing img {
  margin: 0;
  height: 570px;
}

.wrapperMosaic .mosaic .contentMosaic .clothing .titreclothing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapperMosaic .mosaic .contentMosaic .clothing .titreclothing h3 {
  color: white;
}

.wrapperMosaic .mosaic .contentMosaic .accessories {
  width: 69%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapperMosaic .mosaic .contentMosaic .accessories .luggage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 295px;
}

.wrapperMosaic .mosaic .contentMosaic .accessories .luggage .imgSac img {
  margin: 0;
  height: 265px;
}

.wrapperMosaic .mosaic .contentMosaic .accessories .luggage .titreSac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapperMosaic .mosaic .contentMosaic .accessories .luggage .titreSac h3 {
  color: white;
}

.wrapperMosaic .mosaic .contentMosaic .accessories .restAccessories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 295px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapperMosaic .mosaic .contentMosaic .accessories .restAccessories .rA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapperMosaic .mosaic .contentMosaic .accessories .restAccessories .rA .imgRa img {
  margin: 0;
  height: 265px;
}

.wrapperMosaic .mosaic .contentMosaic .accessories .restAccessories .rA .titreRa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapperMosaic .mosaic .contentMosaic .accessories .restAccessories .rA .titreRa h3 {
  color: white;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 6% 0 5% 0;
}

.video .sideVideo {
  background-color: black;
  color: white;
  width: 30%;
  padding: 2%;
}

.video .mainVideo {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video .mainVideo .videoPlay {
  margin: 0;
  width: 100%;
}

.wrapperActus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapperActus .actus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.wrapperActus .actus .presActu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapperActus .actus .presActu .titrePresActu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapperActus .actus .presActu .infoPresActu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapperActus .actus .presActu .infoPresActu .socialActu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}

.wrapperActus .actus .presActu .infoPresActu .socialActu .socialSetActu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapperActus .actus .presActu .infoPresActu .socialActu .socialSetActu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.wrapperActus .actus .mainActu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 2% 0 2% 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapperActus .actus .mainActu .contentActu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 23%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapperActus .actus .mainActu .contentActu:hover .overlay {
  background-color: #3a579d;
  display: block;
  width: 244px;
  height: 244px;
  position: absolute;
}

.wrapperActus .actus .mainActu .contentActu:hover .textActu {
  display: block;
  color: white;
  padding: 2%;
  margin: auto;
  text-align: center;
  max-width: 305px;
}

.wrapperActus .actus .mainActu .contentActu .textActu {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.wrapperActus .actus .mainActu .contentActu .imgActu img {
  position: relative;
  z-index: 0;
}

.wrapperFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3%;
}

.wrapperFooter .coordonnees > p {
  color: grey;
}

.wrapperFooter .titreFooter {
  margin: 30px 0px 20px 0px;
}

.wrapperFooter .titreFooter h3 {
  font-size: 14px;
}

.wrapperFooter .categoriesFooter {
  list-style-type: none;
}

.wrapperFooter .categoriesFooter li {
  line-height: 36px;
}

.wrapperFooter .categoriesFooter li a {
  text-decoration: none;
  color: grey;
}

.wrapperFooter .ddeInfos > p {
  color: grey;
}

.wrapperFooter .socialSetFooter .socialFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapperFooter .socialSetFooter .socialFooter .social-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapperFooter .socialSetFooter .socialFooter .social-set li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  color: grey;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.copyright hr {
  display: block;
  height: 2px;
  color: white;
}

.copyright p {
  margin-left: 6%;
}

@media (max-width: 376px) {
  .restbranding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapperCat {
    margin: 5% 0% 5% 0%;
  }
  .wrapperCat .categories {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 80px;
  }
  .wrapperMosaic .mosaic .contentMosaic {
    display: none;
  }
  .wrapperMosaic .mosaic .sliderResponsive {
    display: block;
  }
  .divider {
    display: none;
  }
  .contact,
  .social {
    margin: 20px;
  }
  .devis {
    border-radius: 3px;
    border: 1px solid orangered;
    background-color: black !important;
    margin-top: 15px;
  }
  .devis i {
    margin-top: 10px;
  }
  .devis .textDevis p {
    margin-top: 10px;
  }
  .menu_nav li {
    min-width: 190px;
    margin: 5%;
  }
  .accessories .restAccessories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 25% 0% 20% 0%;
  }
  .video .sideVideo,
  .video .mainVideo {
    width: 100%;
  }
  .video .sideVideo {
    padding: 5%;
  }
  .mainActu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainActu .contentActu {
    width: 100% !important;
    height: auto;
  }
  .mainActu .contentActu:hover .overlay {
    width: 260px !important;
    height: 260px !important;
  }
  .mainActu .contentActu .imgActu {
    opacity: 0.5;
  }
  .mainActu .contentActu .imgActu .textActu {
    display: block;
  }
  .mainActu .contentActu .presActu {
    margin-bottom: 15%;
  }
  #textResponsive {
    padding: 9% !important;
  }
  .wrapperFooter .socialSetFooter {
    padding-bottom: 10%;
  }
}
/*# sourceMappingURL=style.css.map */