* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//container
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//blacknav
.blacknav {
  background-color: black;
  color: white;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.branding {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 20%;
}
.restbranding {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mail,
.num {
  justify-content: center;
  display: flex;
  align-items: flex-start;
  width: 50%;
}
.social {
  ul,
  .social-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
      flex-wrap: wrap;
    }
  }
}
.devis {
  background-color: #df6823;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

//finblacknav
//menu header
.menu_nav nav {
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  
  ul {
    display: flex;
    width: 70%;
    margin-top: 15px;
    justify-content: space-between;
    li {
      list-style-type: none;
    }
  }
}

//fin menu header
//main content
.main {
  img {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
  }
}
.categories{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
.category{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
}
